@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #fa6600;
  --secondary: #95989a;
  --text-color: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ***Event form*** */
#event-subscription {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/moto5.jpg");
  background-position: center;
  background-size: cover;
  padding: 2em;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-around;
  align-items: center;
  color: var(--text-color);
}

#disclaimer h2,
#disclaimer .event-date {
  color: var(--primary);
}

#disclaimer h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

#disclaimer .about-event {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

#disclaimer p {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

#disclaimer .event-date {
  font-weight: bold;
}

#subscription-form {
  background-color: var(--secondary);
  padding: 2em;
  width: 100%;
  max-width: 400px;
  margin-top: 2em;
}

#subscription-form p {
  font-size: 1.2em;
  color: var(--text-secondary);
  margin-bottom: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-group label {
  color: var(--text-tertiary);
  margin-bottom: 0.3em;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn {
  background-color: var(--primary);
  color: var(--text-color);
  text-transform: uppercase;
  width: 100%;
  padding: 12px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  font-size: 1em;
}

.btn:hover {
  opacity: 1;
}

/* ____________________________________________________________________ */
/* Sessão de explorar linhas de motocicleta */
.explore{
  text-align: center;
  padding: 20px;
  background: var(--secondary);
  margin: 20px;
}

.moto{
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
}

.moto img{
  width: 55%;
  height: 63%;
  border-radius: 1000px;
  padding: 10px;
}

/* ____________________________________________________________________ */
/* Sessão de local e destaque */
.local{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hd1.jpg");
  background-position: center;
  background-size: cover;
}

.infos{
  text-align: center;
  color: var(--text-color);
  padding: 50px;
  list-style: none;
}

.destaque{
  text-align: center;
  padding: 10px;
  color: var(--text-color);
}

.destaque h1{
  padding: 50px;
  color: var(--primary);
}

/* ____________________________________________________________________ */
/* Sessão de frase motivacional sobre motos */
.liberdade{
  display: flex;
  text-align: start;
  list-style: none;
  align-items: center;
}

.liberdade p{
  display: flex;
  font-weight: bold;
  font-size: 25px;
}

.liberdade li{
  margin:0;
  padding: 0;
}

.cicle img{
  height: 40%;
  width: 40%;
  margin: 40px;

}

/* ____________________________________________________________________ */
/* Sessão de modelos */
.modelos{
  display: flex;
}

.title{
  padding: 20px;
  list-style: none;
  font-weight: bold;
}

.list{
  padding-top: 50px;
}

.cont{
  padding: 5px;
  margin-left: 30px;
}

.modmoto{
  width: 40%;
  height: 40%;
  margin-left: 500px;
}

/* ____________________________________________________________________ */
/* Sessão de feedback */
.gostou{
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/moto2.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 50px;
}

.sub{
  text-align: center;
  color: var(--text-color);
  padding: 30px;
}

.but{
  text-align: center;
  align-content: center;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background: var(--primary);
  border: 0;
  color: var(--text-color);
  margin-bottom: 20px;
  margin-left: 40%;
  cursor: pointer;
}

button:hover{
  background: #7b380c;
}

/* ____________________________________________________________________ */
/* Sessão do rodapé */
footer{
  background: var(--secondary);
  text-align: center;
  padding-top: 20px;
}

.expo{
  padding-bottom: 10px;
}

.bold{
  font-weight: bold;
}

.about li{
  padding: 5px;
  font-size: 12px;
}









/* Media Queries */
@media (max-width: 768px) {
  #event-subscription {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }

  #disclaimer h2 {
    font-size: 3em;
  }

  #disclaimer .about-event {
    font-size: 2em;
  }

  .liberdade p{
    display: flex;
    font-weight: bold;
    font-size: 15px;
  }

  .modmoto{
    width: 40%;
    height: 40%;
    margin-left: 50px;
    margin-top: 100px;
  }
  
  .but{
    margin-bottom: 20px;
    margin-left: 22%;
  }

  
}